Package: com.bandit.theosinst
Name: Theos Installer (32bit/64bit)
Description: Install Theos on 32bit or 64bit device.
Priority: Standard
Author: CorruptBandit <o.g.smith@icloud.com>
Maintainer: CorruptBandit <o.g.smith@icloud.com>
Depends: unzip, coreutils, coreutils-bin, make, gawk
Section: system
Tag: role::hacker, purpose::console
Architecture: iphoneos-arm
Version: 1.4.3
Depiction: https://corruptbandit.github.io/repo/depictions/com.bandit.theosinst/theosinst.html
